body{
    margin: 0;
    padding: 0;
}

#ninety-map {
    height: 400px;
}

div.ninety-chart-container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

div.single-details {
    border: 1px solid navy;
    position: relative;
    padding: 1em;
    margin-top: 2em;
    background-color: lightgrey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

span.locked-bottom {
    position: absolute;
    bottom: .5em;
    right: 1em;
}

span.locked-bottom a {
    color: #fff;
    font-weight: bold;
}

#ninety-map {
    /*position: absolute;*/
    /*top: 500px;*/
    /*bottom: 0;*/
    width: 100%;
}

.marker {
    /*background-image: url('mapbox-icon.png');*/
    background-color: red;
    background-size: cover;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
